.MenuGrid{
  width: 100%;
}
.Menu{
  width: 50%;
  margin: auto !important;
  opacity: 1;
  z-index: 1400;
}
.MenuHrAnimated{
  width: 100%;
  margin-top: -5px;
  height: 4px;
  border: 0;
  box-shadow: 0 10px 10px -12px #8c8b8b inset;
  animation-name: LandingHrActivated;
  animation-duration: 1200ms;
}
@keyframes LandingHrActivated {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.MenuHrNormal{
  width: 100%;
  margin-top: -5px;
  height: 4px;
  border: 0;
  box-shadow: 0 10px 10px -12px #8c8b8b inset;
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {


}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {


}
/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){
  .Menu{
    width: 80%;
  }
}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .Menu{
    width: 100%;
  }
}
