.Bioshow{

}
.Biohide{
  display: none;
}
.BioGrid{
  margin: 0;
  margin-left: 10%;
  width: 100% !important;
  max-width: 1600px;

}
.BioRow{
  margin-top:20px;
}
.BioTitle{
  font-size: 45px;
  margin: auto;
}
.BioProfileImage{
  width: 640px;
  height: 424px;
  margin: auto;
  display: block;
}
.BioImageFooter{
  text-align: center;
}
.BioFirstParagraph{
  font-size: 20px;
  margin: auto;
  padding: 20px;
  text-align: justify;
}
.BioSecondParagraph{
  font-size: 20px;
  margin: 30px auto;
  padding: 20px;
  padding-right: 50px;
  text-align: justify;
}
.BioSecondParagraphFacts{
  padding-left: 20px;
}

/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {

}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {
  .BioSecondParagraph{
    margin-top: -50px;
    font-size: 20px;
    padding: 20px;
    text-align: justify;
  }
}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){

}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .BioProfileImage{
    width: 320px;
    height: 212px;
    margin: auto;
    display: block;
  }
}
