.App {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #353535;
}
.AppContainerOut{
  animation-name: AppContainerOut;
  animation-duration: 800ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.59,-0.45,.32,1.44);
}
@keyframes AppContainerOut {
  0%{
  }
  100%{
    height: 0px;
  }
}
.LandingDivider{
  width: 1000px;
  text-align:center;
  margin-top: 40px;
  height: 4px;
  border: 0;
  box-shadow: 0 1px 1px 0px #8c8b8b inset;
}
.LandingDividerHidden{
  animation-name: LandingDividerDisappear;
  animation-duration: 600ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes LandingDividerDisappear {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100%{
    transform: translate(0, -70vh);
    opacity: 0;
  }
}

.LandingHrActivated{
  margin-top: -5px;
  height: 4px;
	border: 0;
	box-shadow: 0 10px 10px -12px #8c8b8b inset;
  animation-name: LandingHrActivated;
  animation-duration: 1200ms;
}

@keyframes LandingHrActivated {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {


}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {


}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){


}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){

}
