.HeaderDiv{
  top:0px;
  margin-top:-100px;
  position: fixed;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  z-index: 1100;
  width: 100%;
  height: 64px;
  display: table;
  padding-left: 24px;
  padding-right: 24px;
  animation-name: appear;
  animation-duration: 800ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translate(0px, 100px);
  }
}

.HeaderDivOut{
  top:0px;
  margin-top:-100px;
  position: fixed;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  z-index: 1100;
  width: 100%;
  height: 64px;
  display: table;
  padding-left: 24px;
  padding-right: 24px;
  animation-name: HeaderDivOut;
  animation-duration: 800ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes HeaderDivOut {
  0% {
    opacity: 1;
    transform: translate(0px, 100px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(0px, 0px);
  }
}

.HeaderEmailDiv{
  top:0px;
  right:0px;
  margin-right: 100px;
  position: fixed;
  display: table-cell;
  vertical-align: middle;
}
.Email{
  display: block;
  text-align: center;
  width: 250px;
  padding: 16px;
  padding-top: 24px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  color: #719EFF;
  margin: auto;
  text-decoration: none;
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {

}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {

}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){

}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .HeaderEmailDiv{
    position: relative;
    right: 0;
  }
}
