.Footer{
  display: none;
  top:0px;
  left:0px;
  margin-left: 100px;
  position: fixed;
  max-width: 30%;
  z-index: 1111;
  margin: auto;
}
.FooterFirstColumn{
  margin-bottom: 5px;
}
.FooterSecondColumn{
  margin-left: 7px;
  margin-right: 1px;
}
.FooterThirdColumn{
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {

}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {

}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){

}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .Footer{
    display: inline;
    position: relative;
    width: 100%;
    margin-left: 15px;
    padding-bottom: 20px;
    margin: auto;
  }
  .FooterSecondColumn{
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 1px;
  }
}
