.SocialHeader{
  top:0px;
  left:0px;
  margin-left: 100px;
  position: fixed;
  max-width: 30%;
  z-index: 1111;
}
.SocialHeaderFirstColumn{
  margin-bottom: 5px;
}
.SocialHeaderSecondColumn{
  margin-left: 7px;
  margin-right: 1px;
}
.SocialHeaderThirdColumn{
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {

}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {

}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){
  .SocialHeader{
    margin-left: 50px;
  }
  .SocialHeaderSecondColumn{
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .SocialHeader{
    display: none;
  }
  .SocialHeaderSecondColumn{
  }
}
