.MenuLink{
  text-decoration: none;
  width: 111px;
  display: block;
  margin: auto;
  cursor: pointer;
}
.MenuTab{
  width: 100px;
  margin-top: 20px;
  color:#97B8FF;
  border:1px;
  border-style:solid;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-color:#97B8FF;
  padding: 5px;
}
.MenuTab:hover {
  border-color:#5285F2;
  color:#5285F2;
  background-color:#D6E3FF;
}
.MenuTabPressed{
  width: 100px;
  margin-top: 20px;
  border:1px;
  border-style:solid;
  text-align: center;
  height: 30px;
  padding: 5px;
  border-color:#5285F2;
  color:#5285F2;
  background-color:#D6E3FF;
  line-height: 30px;
}
