h1{
  color: #222222;
}
h2{
  font-size: 30px;
}
.HeroLanding{

}
.HeroLandingOut{
  animation-name: HeroLandingOut;
  animation-duration: 600ms;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes HeroLandingOut {
  0%{
    transform: translate(0px,0px);
    opacity: 1;
  }
  100%{
    transform: translate(0, -70vh);
    opacity: 0;
  }
}
.HeroLandingTitle{
  margin-top: 100px;
  font-size: 90px;
}
.HeroLandingSubtitle{
  margin-top: 50px;
  padding: 10px;
}
.CurrentlyLink{
  text-decoration: none;
  width: 500px;
  display: block;
  margin: auto;
  margin-top:50px;
}
.HeroLandingBreak{
  display: none;
}
.HeroLandingBreak2{
  display: none;
}
.Currently{
  color:#FC8C65;
  border:3px;
  border-style:solid;
  text-align: center;
  margin: auto;
  height: 50px;
  line-height: 50px;
  width: 500px;
  border-color:#FC8C65;
  padding: 0.3em;
}
.Currently:hover{
  border-color:#9C4E33;
  color:#9C4E33;
  background-color:#FFC5B1;
}
/*..........................................*/
/*               LARGE              */
/*.............................................*/

@media (max-width: 1920px) {

}

/*..........................................*/
/*              MEDIUM             */
/*.............................................*/

@media (max-width: 1280px) {
  .HeroLandingTitle{
    font-size: 70px;
  }
}

/*..........................................*/
/*              SMALL             */
/*.............................................*/

@media (max-width: 960px){
  h2{
    font-size: 25px;
  }
  .HeroLandingTitle{
    font-size: 55px;
  }
  .CurrentlyLink{
    width: 300px;
  }
  .Currently{
    height: 80px;
    line-height: 40px;
    width: 300px;
    padding: 0.1em;
  }
  .HeroLandingBreak{
    display: block;
  }
}

/*..........................................*/
/*              XSMALL             */
/*.............................................*/
@media (max-width: 600px){
  .CurrentlyLink{
    width: 250px;
  }
  .Currently{
    height: 120px;
    width: 250px;
    padding: 0.1em;
  }
  .HeroLandingBreak2{
    display: block;
  }
}
